@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind utilities;
@import "tailwindcss";

@theme {
  --color-codeleap-blue: #7695EC;
  --color-codeleap-dark-blue: #5d7dcf;
  --color-codeleap-black: #000000;
  --color-codeleap-gray: #CCCCCC;
  --color-codeleap-dark-gray: #777777;
  --color-codeleap-light-gray: #DDDDDD;
  --color-codeleap-red: #FF5151;
  --color-codeleap-green: #47B960;
  --color-codeleap-border: #999999;
  
  --color-codeleap-white: #ffffff;
  --color-codeleap-black: #000000;
}



:root {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.1;
  color: var(--color-codeleap-white);
}

label {
  font-size: 16px;
  font-style: normal;
  margin-bottom: 8px;
  display: block;
}

button {
  cursor: pointer;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  
}
